/* --- Global --- */

* {
  margin: 0;
}

body {
  line-height: 24px;
}

.list-style-none {
  list-style: none;
}

/* --- Index page --- */

.index-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 300px;
  border-radius: 8px;
  background-color: rgb(255, 237, 203);
  outline: 1px solid rgb(255, 205, 187);
}

.index-container h1 {
  text-align: center;
  padding: 50px 0;
  font-size: 50px;
  color: rgb(199, 130, 39);
  padding-bottom: 10px;
}

.index-container ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.index-container ul a {
  margin-bottom: 80px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(46, 134, 248);
  text-decoration: none;
}

.index-container ul a:hover {
  transition: 0.3s;
  color: rgb(70, 147, 248);
}

.index-container ul a li {
  text-align: center;
}

.index-container ul a li img {
  border-radius: 12px;
}

.index-container ul a li h3 {
  padding-top: 20px;
}

/* --- Recipes page --- */

.recipe-container img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.recipe-container {
  margin: 50px 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: 1px solid rgb(255, 205, 187);
  background-color: rgb(255, 243, 220);
  padding: 20px 40px;
  border-radius: 8px;
}

.recipe-container h1 {
  margin: 15px 0 30px;
  font-size: 50px;
  color: rgb(199, 130, 39);
}

.recipe-container h1,
.recipe-container h2 {
  text-align: center;
  padding: 20px 0;
}

.recipe-container p {
  text-align: center;
  margin-bottom: 30px;
}

.recipe-container h2,
.recipe-container h3 {
  margin: 15px 0;
  color: coral;
}

.recipe-container a {
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(46, 134, 248);
  text-decoration: none;
  transition: 0.2s;
}

.recipe-container a:hover {
  color: rgb(70, 147, 248);
}

